{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Welcome to Full-House</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="happy_bg">
      <h1 class="happyh1">The cute things you did...</h1>
      <ul id="notes">
        {% for happyThing in all_Happy_Things %}
        <li>
          <h5>{{happyThing.content}}</h5>
          <h5>Last Updated: {{happyThing.last_update}}</h5>
        </li>
        {% endfor %}
      </ul>

      <form action="addHappyThings/" method="post">
        {% csrf_token %}
        <textarea
          class="form-control z-depth-1"
          id="exampleFormControlTextarea6"
          rows="3"
          placeholder="Write something here..."
          type="text"
          name="content"
          id="message"
        ></textarea>
        <button type="submit" class="btn btn-success btn-rounded z-depth-1">
          Send your message
        </button>
      </form>
    </div>
  </body>
</html>
