{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Welcome to Full-House</title>
</head>
<body>
    <div class ='sad_bg'>
<h1 class = "happyh1">The devil things you did...</h1>

<ul id = 'notes'>
    {% for sadThing in all_sad_Things %}
    <li>
        <h5>{{sadThing.content}} </h5>  
        <h5>Last updated: {{sadThing.last_update}}</h5>
        <form action = "deleteSadThings/{{sadThing.id}}/" method = "post">{% csrf_token %}
            <button class="btn btn-warning btn-rounded z-depth-1" type = 'submit'>Delete</button>
        </form>
    </li>

    {% endfor %}
</ul>

<form action = "addSadThings/" method = "post">{% csrf_token %}
    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" type = 'text' name = 'content'></textarea>
    <Button type = 'submit' value= 'Send' class="btn btn-dark" >Send your message</Button>
</form>